/* Getting started page */

.getting-started .card {
   background: #fff;
   min-height: 240px;
 }

.getting-started .card .icon {
  font-size: 2.4rem
}

.getting-started .card .title {
  font-size: 0.9rem
}

.getting-started .card > div {
  text-align: center;
}

.products .card {
  background: #fff;
  min-height: 190px;
}

hr {
  margin: 2rem 0;
}

.products .card .icon {
  font-size: 2.7rem
}

.products .card .title {
  font-size: 1.0rem;
  font-weight: bold;
}

.products .card button {
  margin-top: 10px;
}

.api-explorer .card {
  background: #fafafa;
}

.api-explorer h2 {
  margin: 0.3rem;
}

.api-explorer a {
  margin-top: 10px;
}

/* Footer section */

#footer {
}

.footer-line-1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer-line-2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 0.65rem;
}

.privacy {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 0.65rem;
}

.bottom-line {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.bottom-line .copyright{
  text-align: left;
}

.bottom-line .social{
  text-align: right;
  font-size: 1rem;
}
